<head>
    <link rel = "stylesheet" href="../static/css/style.css"/>

</head>

<h1>Champions League Visualizer</h1>
<br>
<h2>Group Stage</h2>
<div class="grid-container">
    
    
        {% for index, row in table.iterrows() %}
        <div>
            {% if (index)%4 == 0 %}
                <table class = "table1">
                    <tr>

                        <th>#</th>
                        <th>Team</th>
                        <th>PTS</th>
                        <th>GP</th>
                        <th>W</th>
                        <th>L</th>
                        <th>D</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                    </tr>
            {% endif %}
            
                <tr>
                    <td>{{row["Place"]}}</td>
                    <td>{{row["Team"]}}</td>
                    
                    <td>{{row["PTS"]}}</td>
                    <td>{{row["GP"]}}</td>
                    <td>{{row["W"]}}</td>
                    <td>{{row["L"]}}</td>
                    <td>{{row["D"]}}</td>
                    <td>{{row["GF"]}}</td>
                    <td>{{row["GA"]}}</td>
                    <td>{{row["GD"]}}</td>
                </tr>
            {% if (index)%4 == 3 %}
            </table>
            {% endif %}
        </div>
        {% endfor %}
</div>

<div>
    <h2>Knockout Stage</h2>
    <img src="{{user_image}}" alt="User Image" id="bracket" >
</div>

<div class = "r16">
    <p style = "position: absolute; left:520px; top:580px;  font-size: 1.25vw ">Benfica</p>
    <p style = "position: absolute; left:520px; top:640px;  font-size: 1.25vw ">Ajax</p>
    <p style = "position: absolute; left:520px; top:705px;  font-size: 1.25vw ">Inter Milan</p>
    <p style = "position: absolute; left:520px; top:765px;  font-size: 1.25vw ">Liverpool</p>
    <p style = "position: absolute; left:520px; top:835px;  font-size: 1.25vw ">Villareal</p>
    <p style = "position: absolute; left:520px; top:890px;  font-size: 1.25vw ">Juventus</p>
    <p style = "position: absolute; left:520px; top:955px;  font-size: 1.25vw ">Salzburg</p>
    <p style = "position: absolute; left:520px; top:1025px;  font-size: 1vw ">Bayern Munich</p>

    <p style = "position: absolute; right:515px; top:580px;  font-size: 1.25vw ">Sporting CP</p>
    <p style = "position: absolute; right:515px; top:650px;  font-size: 1vw ">Manchester City</p>
    <p style = "position: absolute; right:515px; top:720px;  font-size: 1vw ">Atletico Madrid</p>
    <p style = "position: absolute; right:515px; top:780px;  font-size: 0.9vw ">Manchester United</p>
    <p style = "position: absolute; right:515px; top:835px;  font-size: 1.25vw ">Chelsea</p>
    <p style = "position: absolute; right:515px; top:890px;  font-size: 1.25vw ">Lille</p>
    <p style = "position: absolute; right:515px; top:955px;  font-size: 1.25vw ">PSG</p>
    <p style = "position: absolute; right:515px; top:1015px;  font-size: 1.25vw ">Real Madrid</p>
</div>

<div class = "quarter-finals">
    <p style = "position: absolute; left:700px; top:615px;  font-size: 1.25vw ">Benfica</p>
    <p style = "position: absolute; left:700px; top:735px;  font-size: 1.25vw ">Liverpool</p>
    <p style = "position: absolute; left:700px; top:865px;  font-size: 1.25vw ">Villareal</p>
    <p style = "position: absolute; left:690px; bottom:145px;  font-size: 1vw ">Bayern Munich</p>

    <p style = "position: absolute; right:690px; top:625px;  font-size: 1vw ">Manchester City</p>
    <p style = "position: absolute; right:690px; top:745px;  font-size: 1vw ">Atletico Madrid</p>
    <p style = "position: absolute; right:710px; top:865px;  font-size: 1.25vw ">Chelsea</p>
    <p style = "position: absolute; right:690px; top:990px;  font-size: 1.25vw ">Real Madrid</p>
</div>

<div class = "semi-finals">
    <p style = "position: absolute; left:870px; top:675px;  font-size: 1.25vw ">Liverpool</p>
    <p style = "position: absolute; left:870px; bottom: 200px;  font-size: 1.25vw ">Villareal</p>
    <p style = "position: absolute; right:855px; top:685px;  font-size: 1vw ">Manchester City</p>
    <p style = "position: absolute; right:860px; bottom:200px;  font-size: 1.25vw ">Real Madrid</p>
</div>

<div class = "finals">
    <p style = "position: absolute; right:1020px; bottom:330px;  font-size: 1.25vw ">Real Madrid</p>
    <p style = "position: absolute; left:1020px; bottom:330px;  font-size: 1.25vw ">Liverpool</p>
</div>

<p style = "position: absolute; right:1050px; bottom:370px;  font-size: 1vw "></pstyle> (Winner)</p>

<style>
    table{
        border-collapse: collapse;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    th {
        background-color: #0000ff;
        color: white;
    }
</style>