
<h1>Champions League Visualizer 2021-22</h1>

<br>

<div>
    <h2>Knockout Stage</h2>
    <div class="container">
        <div class="item">
            <h3>Round of 16</h3>
            <br>
            {% for i in range(8) %}
                <div class="box">


                    <table>
                        <tr>
                            <th>Team</th>
                            <th>1st leg</th>
                            <th>2nd leg</th>
                            <th>Agg</th>
                        </tr>
                        <tr>
                            <td>{{knockout.iloc[i]['Tm1']}}</td>
                            <td>{{knockout.iloc[i][' Gm1Tm1']}}</td>
                            <td>{{knockout.iloc[i][' Gm1Tm2']}}</td>
                            <td>{{knockout.iloc[i]['total_Tm1']}}</td>
                        </tr>
                        <tr>
                            <td>{{knockout.iloc[i][' Tm2']}}</td>
                            <td>{{knockout.iloc[i][' Gm1Tm2']}}</td>
                            <td>{{knockout.iloc[i][' Gm2Tm2']}}</td>
                            <td>{{knockout.iloc[i]['total_Tm2']}}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        <div class="item">
            <h3>Quarter Finals</h3>
            {% for i in range(8, 12) %}
            <div class="box">
                <table>
                    <tr>
                        <th>Team</th>
                        <th>1st leg</th>
                        <th>2nd leg</th>
                        <th>Agg</th>
                    </tr>
                    <tr>
                        <td>{{knockout.iloc[i]['Tm1']}}</td>
                        <td>{{knockout.iloc[i][' Gm1Tm1']}}</td>
                        <td>{{knockout.iloc[i][' Gm1Tm2']}}</td>
                        <td>{{knockout.iloc[i]['total_Tm1']}}</td>
                    </tr>
                    <tr>
                        <td>{{knockout.iloc[i][' Tm2']}}</td>
                        <td>{{knockout.iloc[i][' Gm1Tm2']}}</td>
                        <td>{{knockout.iloc[i][' Gm2Tm2']}}</td>
                        <td>{{knockout.iloc[i]['total_Tm2']}}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            
        </div>
        <div class="item">
            <h3>Semi Finals</h3>
            {% for i in range(12, 14) %}
            <div class="box">
                <table>
                    <tr>
                        <th>Team</th>
                        <th>1st leg</th>
                        <th>2nd leg</th>
                        <th>Agg</th>
                    </tr>
                    <tr>
                        <td>{{knockout.iloc[i]['Tm1']}}</td>
                        <td>{{knockout.iloc[i][' Gm1Tm1']}}</td>
                        <td>{{knockout.iloc[i][' Gm1Tm2']}}</td>
                        <td>{{knockout.iloc[i]['total_Tm1']}}</td>
                    </tr>
                    <tr>
                        <td>{{knockout.iloc[i][' Tm2']}}</td>
                        <td>{{knockout.iloc[i][' Gm1Tm2']}}</td>
                        <td>{{knockout.iloc[i][' Gm2Tm2']}}</td>
                        <td>{{knockout.iloc[i]['total_Tm2']}}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
        <div class="item">
            <h3>Finals</h3>
            <div class="box">
                <table>
                    <tr>
                        <th>Team</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td>{{knockout.iloc[14]['Tm1']}}</td>
                        <td>{{knockout.iloc[14][' Gm1Tm1']}}</td>
                    </tr>
                    <tr>
                        <td>{{knockout.iloc[14][' Tm2']}}</td>
                        <td>{{knockout.iloc[14][' Gm1Tm2']}}</td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
</div>

<br>
<h2>Group Stage</h2>
<div class="grid-container">
    
    
        {% for index, row in table.iterrows() %}
        <div>
            {% if (index)%4 == 0 %}
                <table>
                    <tr>

                        <th>#</th>
                        <th>Team</th>
                        <th>PTS</th>
                        <th>GP</th>
                        <th>W</th>
                        <th>L</th>
                        <th>D</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                    </tr>
            {% endif %}
            
                <tr>
                    <td>{{row["Place"]}}</td>
                    <td>{{row["Team"]}}</td>
                    
                    <td>{{row["PTS"]}}</td>
                    <td>{{row["GP"]}}</td>
                    <td>{{row["W"]}}</td>
                    <td>{{row["L"]}}</td>
                    <td>{{row["D"]}}</td>
                    <td>{{row["GF"]}}</td>
                    <td>{{row["GA"]}}</td>
                    <td>{{row["GD"]}}</td>
                </tr>
            {% if (index)%4 == 3 %}
            </table>
            <br>
            {% endif %}
        </div>
        {% endfor %}
</div>



<style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 10px;
      padding: 10px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 30px;
    }

    table, th, td {
        border: 1px solid;
    }

    h1, h2{
        text-align: center;
    }

    .container {
  display: flex;
    }
    .item {
    background: whitesmoke;
    flex-basis: 25%;
    margin: 5px;
    }

    .box{
        border: 15px solid white;
        padding: 25px;
        margin: 10px;
    }

    h3{
        text-align: center;
    }
    
</style>

  