
<h1>Champions League Visualizer 2021-22</h1>

<br>

<div>
    <h2>Knockout Stage</h2>
    <div class="container">
        <div class="item">
            round of 16
            <br>
            <div class="box">
                <br>
                Benfica
                <br>
                Ajax
                <br>
            </div>
            <div class="box">
                <br>
                Inter Milan
                <br>
                Liverpool
                <br>
            </div>
            <div class="box">
                <br>
                Villarreal
                <br>
                Juventus
                <br>
            </div>
            <div class="box">
                <br>
                Salzburg
                <br>
                Bayern Munich
                <br>
            </div>
            <div class="box">
                <br>
                Sporting CP
                <br>
                Manchester City
                <br>
            </div>
            <div class="box">
                <br>
                Atletico Madrid
                <br>
                Manchester United
                <br>
            </div>
            <div class="box">
                <br>
                Chelsea
                <br>
                Lille
                <br>
            </div>
            <div class="box">
                <br>
                PSG
                <br>
                Real Madrid
                <br>
            </div>
        </div>
        <div class="item">
            quarter finals
            <br><br><br><br><br>
            <div class="box">
                <br>
                Benfica
                <br>
                Liverpool
                <br>
            </div>
            <br><br><br><br><br><br><br>
            <div class="box">
                <br>
                Villarreal
                <br>
                Bayern Munich
                <br>
            </div>
            <br><br><br><br><br><br><br>
            <div class="box">
                <br>
                Manchester City
                <br>
                Atletico Madrid
                <br>
            </div>
            <br><br><br><br><br><br><br><br><br>
            <div class="box">
                <br>
                Chelsea
                <br>
                Real Madrid
                <br>
            </div>
        </div>
        <div class="item">
            semi finals
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="box">
                <br>
                Liverpool
                <br>
                Villarreal
                <br>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="box">
                <br>
                Manchester City
                <br>
                Real Madrid
                <br>
            </div>
        </div>
        <div class="item">
            finals
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="box">
                <br>
                Liverpool
                <br>
                Real Madrid
                <br>
            </div>
        </div>
      </div>
</div>

<br>
<h2>Group Stage</h2>
<div class="grid-container">
    
    
        {% for index, row in table.iterrows() %}
        <div>
            {% if (index)%4 == 0 %}
                <table>
                    <tr>

                        <th>#</th>
                        <th>Team</th>
                        <th>PTS</th>
                        <th>GP</th>
                        <th>W</th>
                        <th>L</th>
                        <th>D</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                    </tr>
            {% endif %}
            
                <tr>
                    <td>{{row["Place"]}}</td>
                    <td>{{row["Team"]}}</td>
                    
                    <td>{{row["PTS"]}}</td>
                    <td>{{row["GP"]}}</td>
                    <td>{{row["W"]}}</td>
                    <td>{{row["L"]}}</td>
                    <td>{{row["D"]}}</td>
                    <td>{{row["GF"]}}</td>
                    <td>{{row["GA"]}}</td>
                    <td>{{row["GD"]}}</td>
                </tr>
            {% if (index)%4 == 3 %}
            </table>
            <br>
            {% endif %}
        </div>
        {% endfor %}
</div>



<style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 10px;
      padding: 10px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 30px;
    }

    table, th, td {
        border: 1px solid;
    }

    h1, h2{
        text-align: center;
    }

    .container {
  display: flex;
    }
    .item {
    background: lightblue;
    flex-basis: 25%;
    margin: 5px;
    }

    .box{
        border: 15px solid white;
        padding: 25px;
        margin: 10px;
    }

    
</style>

  